<div class="list-group">
{{#each posts as |post|}}
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{post.title}}</h5>
            <small class="text-muted">By {{post.user_id}}, on {{post.created_at}}</small>
        </div>
        <p class="mb-1">{{post.body}}</p>
    </a>
{{/each}}
</div>


<form id="add-post" action="/api/post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Body</label>
    <input type="text" class="form-control" id="body">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="js/add-post.js"></script>